# server ignores
.env

# python ignores
__pycache__
.mypy_cache
*.pytest_cache
*.coverage
.ruff_cache

# fastapi ignores
assets/**/*.{js,css}
templates/index.html

# node/vite/js/elm
node_modules
elm-stuff
dist