<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <!-- CUSTOM CODE IMPORTS --> 
    <title>Web App</title>
    <script type="module" crossorigin src="/assets/index-Bo6s7ysY.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/index-yhSfp-I1.css">
  </head>
  <body>
    <div id="app"></div>
<noscript>
        You need to enable JavaScript to run this app.
    </noscript>
  </body>
</html>
